*
{
  margin : 0;
  padding : 0;
  font-family :'Poppins' , sans-serif;
}
body
{
  background : #fff;
  min-height : 200vh;
}
.title{
  font-family :'Poppins' , sans-serif;
}


header{
  position : fixed;
  top : 0 ;
  left : 0;
  width : 100%;
  display : flex;
  justify-content: right;
  align-items: center;
  padding: 25px 100px;
  z-index: 100000 ;
  transition: 0.6s;
}
/* make navbar sticky */
header .logo{
  flex:1;
  height:75px;
}

header.sticky{
  padding: 10px 100px;
  background:#fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header ul{
  flex:20;
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
}
header ul li{
  position: relative;
  list-style:none;
  font-weight:700;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none; 
  color:crimson;
  transition:0.6s;
}

.banner{
  position: relative;
  width:100%;
  height:10vh;
  background:none;
  background-size:cover;
}
.Container{
  padding:30px;
  display: flex;
  justify-content: space-around;
  
}
.Stats{
  background-color: white;
  border: 1px solid rgba(72,94,144,0.16);
  border-radius: 0.25rem;
  text-align: center;
  justify-content: center;
  height:150px;
  width:20%;
  
}
.btn {
  width: 200px; height: 88px;
  outline: 0;
  border: 2px solid #ccc;
  color: #000;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display:flex;
  justify-content: space-between;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.05);
  transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn:hover {
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
  border-color: var(--red);
}
.btn-like {
  padding: 1.5rem 1.5rem 1.5rem 6rem;
  font-size: 2rem;
  border-radius: 10px;
  background: #fff;
  transition: 1.5s cubic-bezier(.21,.04,.26,.99);
}
.btn-like.liked {
  background: var(--red);
  border-color: var(--red);
}
.btn-icon {
  display: inline-block;
  width: 32px;
  height: 36px;
  position: absolute;
  left: 1.5rem;
  transition: 1s cubic-bezier(.21,.04,.26,.99);
  transform: rotate(0deg)
}
.btn:hover .btn-icon {
  color: var(--red);
}
.btn.liked:hover .btn-icon {
  color: var(--black);
}
.liked .btn--icon-default {
  transform: rotate(-90deg)
}
.btn:not(.liked).btn--icon-liked {
  transform: rotate(-90deg)
}
.liked .btn--icon-default,
.btn--icon-liked {
  opacity: 0;
  color: #fff;
  position: absolute;
}
.btn--icon-default,
.liked .btn--icon-liked {
  opacity: 1;
  left: 1.5rem;
}
/*-- Button Content -- */
.btn-content {
  transition: transform 0.1s ease;
  display: inline-block;
  /* position: absolute;
  right: 0; */
}
.liked .btn-content {
  color: var(--white);
}
.btn:hover.liked .btn-content {
  color: var(--black);
}
.btn:not(.liked) .btn-content--liked {
  transform: translate(110px)
}
.btn:not(.liked) .btn-content--default {
  transform: translate(-56px)
}
.liked .btn-content--default {
  transform: translate(24px)
}
.articlebox{
  position: relative;
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 30px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 50px rgba(0,0,0,.2)
 
}

.article{
  flex:0.5;
  display:flex;
  flex-direction: column; 
  align-content: stretch
}
::selection{
  background: rgb(0,123,255,0.3);
}
.wrapper{
  max-width: 600px;
  padding: 0 20px;
}
.wrapper .parent-tab,
.wrapper .child-tab{
  margin-bottom: 8px;
  border-radius: 3px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.18);
}
.wrapper .parent-tab label,
.wrapper .child-tab label{
  background: #007bff;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  z-index: 99;
  transition: all 0.3s ease;
}
.wrapper .parent-tab label:hover{
  background: #006fe6;
}
.parent-tab input:checked ~ label,
.child-tab input:checked ~ label{
  border-radius: 3px 3px 0 0;
  background: #006fe6;
}
.wrapper label span{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label span{
  font-size: 17px;
}
.parent-tab label .icon{
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 15px;
  color: #007bff;
  display: block;
  background: #fff;
  border-radius: 50%;
  text-shadow: 0 -1px 1px #0056b3;
}
.wrapper .child-tab label .icon{
  height: 27px;
  width: 27px;
}
.parent-tab label .icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parent-tab input:checked ~ label .icon i:before,
.child-tab input:checked ~ label .icon i:before{
  content: '\f068';
}
.wrapper .parent-tab .content,
.wrapper .child-tab .sub-content{
  max-height: 0px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 3px 3px;
  transition: all 0.4s ease;
}
.parent-tab input:checked ~ .content,
.child-tab input:checked ~ .sub-content{
  max-height: 100vh;
}
.tab-3 input:checked ~ .content{
  padding: 15px 20px;
}
.parent-tab .content p,
.child-tab .sub-content p{
  padding: 15px 20px;
  font-size: 16px;
}
.child-tab .sub-content p{
  font-size: 15px;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
.covid-background{
  background-color: #440056;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%233b0045' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23310034' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23280022' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231e0011' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23150000' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}
.covid-background-2{
  background-color: #0A000A;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23000000' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EE00EE'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
.black-words{
  color:black;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
